{% extends "baseLogin.html" %}

{% block ulContent %}
    <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Służby</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ceremony/">
              <i class="material-icons">dashboard</i>
              <p>Pedałówy</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/generator">
              <i class="material-icons">dashboard</i>
              <p>Generator rozkazów</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/logout">
              <i class="material-icons">dashboard</i>
              <p>Wyloguj</p>
            </a>
          </li>
        </ul>
{% endblock %}

{% block ulContentNoUser %}
<ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/login">
              <i class="material-icons">dashboard</i>
              <p>Zaloguj</p>
            </a>
          </li>
        </ul>
{% endblock %}


{% block content %}
<div class="main-panel">
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">content_copy</i>
                  </div>
                  <p class="card-category">Dodaj osobę</p>
                  <h3 class="card-title">
                      {% block formPerson %}
                        <form method="POST" action="{% url 'addPerson' %}" class="post-form">{% csrf_token %}
                            {{ personForm.as_p }}
                            <button type="submit" class="save btn btn-default">Save</button>
                        </form>
                    {% endblock %}
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">content_copy</i>
                  </div>
                  <p class="card-category">Dodaj służbę</p>
                  <h3 class="card-title">
                      {% block formDuty %}
                        <form method="POST" action="{% url 'addDuty' %}" class="post-form">{% csrf_token %}
                            {{ dutyForm.as_p }}
                            <p>yyyy-mm-dd</p>
                            <button type="submit" class="save btn btn-default">Save</button>
                        </form>
                    {% endblock %}
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">content_copy</i>
                  </div>
                  <p class="card-category">Dodaj służbę</p>
                  <h3 class="card-title">
                      {% block ceremonyForm %}
                        <form method="POST" action="{% url 'addCeremony' %}" class="post-form">{% csrf_token %}
                            {{ ceremonyForm.as_p }}
                            <button type="submit" class="save btn btn-default">Save</button>
                        </form>
                    {% endblock %}
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">content_copy</i>
                  </div>
                  <p class="card-category">Dodaj osobie służbę</p>
                  <h3 class="card-title">
                      {% block personOnDutyForm %}
                        <form method="POST" action="{% url 'addToDuty2' %}" class="post-form">{% csrf_token %}
                            {{ personOnDutyForm.as_p }}
                            <button type="submit" class="save btn btn-default">Save</button>
                        </form>
                    {% endblock %}
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title">Ludzie</h4>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <th>ID</th>
                      <th>Nazwisko</th>
                    </thead>
                    <tbody>
                        {% for p in personList %}
                            <tr>
                                <td>{{p.idPerson}}</td>
                                <td>{{ p.surname }}</td>
                            </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title">Służby</h4>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <th>ID</th>
                      <th>Data</th>
                      <th>Typ</th>
                    </thead>
                    <tbody>
                        {% for p in dutyList %}
                            <tr>
                                <td>{{p.idDuty}}</td>
                                <td>{{ p.date }}</td>
                                <td>{{ p.get_typeOfDuty_display }}</td>
                            </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">content_copy</i>
                  </div>
                  <p class="card-category">Dodaj osobie pedałówę</p>
                  <h3 class="card-title">
                      {% block personOnCeremonyForm %}
                        <form method="POST" action="{% url 'addPersonToCeremony' %}" class="post-form">{% csrf_token %}
                            {{ personOnCeremonyForm.as_p }}
                            <button type="submit" class="save btn btn-default">Save</button>
                        </form>
                    {% endblock %}
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title">Ludzie</h4>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <th>ID</th>
                      <th>Nazwisko</th>
                    </thead>
                    <tbody>
                        {% for p in personList %}
                            <tr>
                                <td>{{p.idPerson}}</td>
                                <td>{{ p.surname }}</td>
                            </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title">Służby</h4>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <th>ID</th>
                      <th>Data</th>
                      <th>Nazwa</th>
                    </thead>
                    <tbody>
                        {% for p in ceremonyList %}
                            <tr>
                                <td>{{p.idCeremony}}</td>
                                <td>{{ p.date }}</td>
                                <td>{{ p.nameOfCeremony }}</td>
                            </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

